body {
  padding-top: 10px;
}

label {
  font-size: 24px;
  font-weight: 400;
}

hr {
  border-top: 1px solid #ddd;
}

.row {
  padding-bottom: 10px;
}

.checkbox label::before {
  position: inherit;
}

.checkbox label::after {
  left: 5px;
  top: 9px;
}

.checkbox {
  padding-left: 15px;
}

.less-pad.checkbox {
  padding-left: 5px;
}

#save {
  margin-right: 15px;
  margin-top: 15px;
}

#status {
  margin-top: 20px;
}
